<div style="display: flex;">
  <div class="card" style="width: 35rem; margin-right: 10px;">
    <img src="{{product.image}}" class="card-img-top" alt="product" />
  </div>
  <div class="card" style="width: 35rem;">
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">{{product.description}}</p>
      <a href="/" class="btn btn-primary">Go Back</a>
    </div>
  </div>
</div>